venv
.vscode

src/__pycache__

docs/assets/*.bkp
docs/assets/*.dtmp

docs/sablona2024/*.aux
docs/sablona2024/*.bbl
docs/sablona2024/*.blg
docs/sablona2024/*.fdb_latexmk
docs/sablona2024/*.fls
docs/sablona2024/*.lof
docs/sablona2024/*.log
docs/sablona2024/*.out
docs/sablona2024/*.ptc
docs/sablona2024/*.synctex.gz
docs/sablona2024/*.toc

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
